%sections--text {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.625263px;
  color: #696871;
  width: 460px;
  margin-bottom: 30px;
}

%sections--link {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #5454d4;
}
