.content__section2 {
  padding-bottom: 138px;
  .container {
    display: flex;
  }
  &--block {
    margin-right: 158px;
    margin-top: 180px;
  }
  &--title {
    @include font-props(700, 50px, 1.14, #19191b, -1.56316px);
    margin-bottom: 30px;
    margin-top: 0;
  }
  &--text {
    @extend %sections--text;
  }
  &--link {
    @extend %sections--link;
  }
  &--img {
    @include size(346px, 474px);
  }
}
